# SPDX-FileCopyrightText: : 2023 The PyPSA-China Authors
#
# SPDX-License-Identifier: CC0-1.0
.snakemake*
__pycache__
.DS_Store
.idea/

/resources/cutouts
/resources/data/province_shapes
/resources/data/*/*.nc
/resources/data/*/*.tif
/resources/data/*.h5
/resources/derived_data/
/results
/cutouts
/logs
/benchmarks
