# SPDX-FileCopyrightText: : 2023 The PyPSA-China Authors
#
# SPDX-License-Identifier: CC0-1.0
.snakemake*
__pycache__

**.log
**.out
**.er
**.DS_Store
**.idea/
.vscode

# /resources/**/*
!/resources/data/shapefiles/
!/resources/**/*.csv
/resources/derived_data/
/resources/data/province_shapes
/resources/data/landuse_availability/World_EEZ/*eez*
/results
!/results/.gitkeep
/cutouts
/logs
/benchmarks

!**.gitkeep
.vscode/launch.json
/workflow/logs/*
