# SPDX-FileCopyrightText: : 2023 The PyPSA-China Authors
#
# SPDX-License-Identifier: CC0-1.0
.snakemake*
__pycache__

**.log
**.pdf
**.out
**.er
**.DS_Store
**.idea/
.vscode

/site/**
!/resources/data/shapefiles/
# !/resources/**/*.csv
/resources/**/*
/resources/derived_data/
/resources/data/province_shapes
/resources/data/landuse_availability/World_EEZ/*eez*
/workflow/scripts/*.pdf
/workflow/notebooks/*.py
# /workflow/notebooks/*.ipynb
/workflow/notebooks/*.html
/results
!/results/.gitkeep
/cutouts
/workflow/scripts/*.pdf
/logs
/benchmarks
/tests/derived_data/**
!**.gitkeep
.vscode/launch.json
/workflow/logs/*
